#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.status-bar {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}

.main-layout {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}

.control-bar {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid red;
}

.code-editor {
  border: 1px solid red;
}