:root {
  --bar-background: azure;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.status-bar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bar-background);
}

.main-layout {
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  max-height: 700px;
}

.control-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bar-background);
}

.playback-controls {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px 100px;
}

.code-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.obs-viewer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  padding: 20px
}

.obs-viewer h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.obs-list {
  overflow-y: auto;
}

.obs-item {
  font-size: 14px;
}

.frame-viewer {
  background-color: white;
}

.frame-viewer img {
  min-height: 600px;
}

.control-button {
  font-size: 32px;
  width: 40;
  height: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}